BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 0

BreakBeforeBraces: Allman

BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AlignAfterOpenBracket: DontAlign