# NOTE: Windows artifacts
*.exe
*.obj

# NOTE: Linux artifacts
Game
xdg-shell-client-protocol.h
xdg-shell-client-protocol.c

# NOTE: dxc artifacts.
BasicGeometryPS.h
BasicGeometryVS.h

# NOTE: Processed assets
*.png.h
*.ttf.h
